# DCC Heroes of Pymoli
* Start

In [138]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import pdb

file_to_load = "Resources/purchase_data2.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [139]:
purchase_data.head(5)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count
* Display the total number of players

In [140]:
#series = purchase_data['SN'].value_counts()
df = pd.DataFrame()
df['Total Players'] =[len(purchase_data['SN'].unique())]
df

   Total Players
0            576

In [141]:
df = pd.DataFrame({"Total Players": [len(purchase_data['SN'].unique())]})

In [142]:
num_players = len(purchase_data['SN'].unique())

## Purchasing Analysis (Total)
* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [143]:
unique_items = len(purchase_data["Item Name"].unique())
average_price = purchase_data['Price'].mean()
number_purchases = len(purchase_data['Price'])
total_revenue = purchase_data['Price'].sum()

columns = ['Number of Unique Items','Average Price','Number of Purchases','Total Revenue']
df = pd.DataFrame([[unique_items,average_price,number_purchases,total_revenue]], columns=columns)

format_dict = {'Average Price':'${0:,.2f}', 'Total Revenue':'${0:,.2f}'}
df = df.style.format(format_dict)
df

## Gender Demographics
* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [144]:
total_players = len(purchase_data['Gender'])
total_male = purchase_data['Gender'].value_counts()['Male']
total_fema = purchase_data['Gender'].value_counts()['Female']
total_other = purchase_data['Gender'].value_counts()['Other / Non-Disclosed']

columns = ['Total Count','Percentage of Players']
data = {'Total Count':[total_male,total_fema, total_other],
        'Gender':['Male','Female','Other / Non-Disclosed']}
df = pd.DataFrame.from_dict(data)

df['Percentage of Players'] = df.apply(lambda x: x['Total Count']/total_players*100, axis =1)
df = df.set_index('Gender')
format_dict = {'Total Count':'{0:.0f}', 'Percentage of Players':'{:.2f}%'}# 0 is the width of the number
df.style.format(format_dict);

In [145]:
purchase_data.groupby('Gender')['SN'].value_counts();#This shows all the repeat occurances for each unique SN

In [146]:
df_SN_Count = pd.DataFrame(purchase_data.groupby('Gender')['SN'].nunique())  #Nunique coutns the number of unique not wheras unique would find all the names of the unique
df_SN_Count = df_SN_Count.rename(columns={'SN':'Total Count'})
df_SN_Count['Percentage of Players'] = df_SN_Count.apply(lambda x: x['Total Count']/num_players*100, axis =1)
format_dict = {'Total Count':'{0:.0f}', 'Percentage of Players':'{:.2f}%'}# 0 is the width of the number
df_SN_Count.style.format(format_dict)

## Purchasing Analysis (Gender)
* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [147]:
#df = purchase_data.set_index('Gender')
#purchase_data.loc[(purchase_data['Gender'] == 'Female') & (purchase_data['Price'] >4)]
df = pd.DataFrame()
columns = ['Purchase Count', 'Average Purchase Price', 'Total Purchase Value', 'Avg Total Purchase Price per Person']

data = {'Gender':['Female','Male',"Other / Non-Disclosed"],
       'Purchase Count':[len(purchase_data[purchase_data['Gender'] == 'Female']),
                         len(purchase_data[purchase_data['Gender'] == 'Male']),
                         len(purchase_data[purchase_data['Gender'] == 'Other / Non-Disclosed'])],
       'Average Purchase Price': [purchase_data[purchase_data['Gender'] == 'Female']['Price'].mean(), purchase_data[purchase_data['Gender'] == 'Male']['Price'].mean(), purchase_data[purchase_data['Gender'] == 'Other / Non-Disclosed']['Price'].mean()],                
       'Total Purchase Value' : [purchase_data.loc[purchase_data['Gender'] == 'Female']['Price'].sum(),
                                 purchase_data.loc[purchase_data['Gender'] == 'Male']['Price'].sum(),
                                 purchase_data.loc[purchase_data['Gender'] == 'Other / Non-Disclosed']['Price'].sum()],
       'Avg Total Purchase Price per Person':[purchase_data.loc[purchase_data['Gender'] == 'Female'].groupby(['SN']).sum()['Price'].mean(),
                                              purchase_data.loc[purchase_data['Gender'] == 'Male'].groupby(['SN']).sum()['Price'].mean(),
                                              purchase_data.loc[purchase_data['Gender'] == 'Other / Non-Disclosed'].groupby(['SN']).sum()['Price'].mean()]}
df = pd.DataFrame.from_dict(data)
format_dict = {'Average Purchase Price':'${0:,.2f}',
               'Total Purchase Value':'${0:,.2f}',
               'Avg Total Purchase Price per Person':'${0:,.2f}'}# 0 is the width of the number
df = df.style.format(format_dict)

## Age Demographics
* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [148]:
bin_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
age_bins = [0, 9.99, 14.99, 19.99, 24.90, 29.99, 34.99, 39.99, 99999]

purchase_data_copy = purchase_data
purchase_data_copy["Bin Range"] = pd.cut(purchase_data_copy["Age"], age_bins, labels=bin_names)
purchase_data_copy = purchase_data_copy.drop_duplicates(subset = 'SN')

In [149]:
purchase_data_binned_age = purchase_data_copy.groupby(['Bin Range']).count()
purchase_data_binned_age;

In [150]:
total_unique_SN = len(purchase_data['SN'].unique()) #Total number of unique screen names

purchase_data_binned_age['Total Count'] = purchase_data_binned_age.apply(lambda x: x['SN'], axis=1)
purchase_data_binned_age['Percentage of Players'] = purchase_data_binned_age.apply(lambda x: x['Total Count']/total_unique_SN*100, axis=1)
purchase_data_binned_age
df_age_demo = purchase_data_binned_age.loc[:, ['Total Count','Percentage of Players']]
df_age_demo

format_dict = {'Total Count':'{0:,.0f}',
               'Percentage of Players':'${0:,.2f}'}

df_age_demo = df_age_demo.style.format(format_dict)
df_age_demo

## Purchasing Analysis (Age)
* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [151]:
#d.DataFrame(purchase_data.groupby('Bin Range')['SN'].nunique())
df_purch_anal_age = pd.DataFrame(purchase_data.groupby('Bin Range').nunique())
df_purch_anal_age = df_purch_anal_age.rename(columns = {'Purchase ID':'Purchase Count','SN':'Purchase Count Unique_SN'})
df_purch_anal_age = df_purch_anal_age.loc[:,['Purchase Count','Purchase Count Unique_SN']]
df_purch_anal_age.loc[:,('Bin Range')] = df_purch_anal_age.index
df_purch_anal_age;

In [152]:
total_unique_SN = len(purchase_data['SN']) #Total number of screen names
purchase_data["Bin Range"] = pd.cut(purchase_data["Age"], age_bins, labels=bin_names)

purchase_data_bin = purchase_data.groupby(['Bin Range']).count()
purchase_data_bin.loc[:,('Bin Range')] = purchase_data_bin.index

purchase_data_bin;

In [153]:
'''
df_final = purchase_data_binned_age.loc[:,['Total Count']]
df_final.loc[:,('Bin Range')] = df_final.index
df_final_copy = df_final


unique_SN_per_Bin = purchase_data_copy[['Bin Range','SN']].drop_duplicates(subset = 'SN')
unique_SN_per_Bin = unique_SN_per_Bin.groupby('Bin Range').count()
unique_SN_per_Bin;
unique_SN_per_Bin = unique_SN_per_Bin.rename(columns={'SN':'Unique Persons'})
unique_SN_per_Bin;

df_final_copy = pd.merge(df_final_copy, unique_SN_per_Bin, how='outer',left_index=True, right_index=True)
'''

df_purch_anal_age['Average Purchase Price'] = purchase_data_bin['Bin Range'].apply(lambda x: purchase_data.loc[(purchase_data['Bin Range']==x)]['Price'].mean())
df_purch_anal_age['Average Purchase Price'] = df_purch_anal_age['Average Purchase Price'].astype('float64')

In [154]:
df_purch_anal_age['Total Purchase Value'] = df_purch_anal_age['Purchase Count']*df_purch_anal_age['Average Purchase Price']
df_purch_anal_age['Avg Total Purchase per Person'] = df_purch_anal_age['Total Purchase Value']/df_purch_anal_age['Purchase Count Unique_SN']

In [155]:
df_purch_anal_age = df_purch_anal_age.loc[:,['Purchase Count',
                               'Purchase Count Unique_SN',
                               'Average Purchase Price',
                               'Total Purchase Value',
                               'Avg Total Purchase per Person']]

format_dict = {'Purchase Count':'{0:,.0f}',
               'Average Purchase Price':'${0:,.2f}',
               'Average Purchase Price':'${0:,.2f}',
               'Total Purchase Value':'${0:,.2f}',
               'Avg Total Purchase per Person':'${0:,.2f}'}
df_purch_anal_age.style.format(format_dict)

## Top Spenders
* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [180]:
df_purchase_data = pd.read_csv(file_to_load)
df = df_purchase_data.groupby('SN')
SN_counts_series = df['Age'].count().rename('Purchase Count')
avg_bill_count_series = df['Price'].mean().rename('Average Purchase Price')
total_bill_count_series = df['Price'].sum().rename('Total Purchase Value')


df = pd.DataFrame()
df = pd.concat( [df,SN_counts_series,avg_bill_count_series,total_bill_count_series], axis =1)
df = df.sort_values(by=['Total Purchase Value'], ascending=False)
df

             Purchase Count  Average Purchase Price  Total Purchase Value
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10
...                     ...                     ...                   ...
Ililsasya43               1                1.020000                  1.02
Irilis75                  1                1.020000                  1.02
Aidai61                   1                1.010000                  1.01
Chanirra79                1                1.010000                  1.01
Alo38                     1                1.000000                  1.00

[576 rows x 3 columns]

In [ ]:
format_dict = {'Purchase Count':'{0:,.0f}',
               'Purchase Count Unique_SN':'{0:,.0f}',
               'Average Purchase Price':'${0:,.2f}',
               'Total Purchase Value':'${0:,.2f}',
               'Avg Total Purchase per Person':'${0:,.2f}'}
df = df.style.format(format_dict)
df

## Most Popular Items
* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [204]:
df_purchase_data = pd.read_csv(file_to_load)
df_most_pop_items = df_purchase_data.groupby(['Item ID','Item Name'])

purch_count = df_most_pop_items['Age'].count().rename('Purchase Count')
item_price = df_most_pop_items['Price'].mean().rename('Average Item Price')
total_purch_value = df_most_pop_items['Price'].sum().rename('Total Purchase Value')

#df = pd.DataFrame()
#df = pd.concat( [df,purch_count,item_price,total_purch_value], axis =1) #For some reason the index looks weird when printing otu usingthis method
#The above may not work because of constantly differing indices
#df = df.sort_values(by=['Purchase Count'], ascending=False)


df = pd.DataFrame([purch_count,item_price,total_purch_value]).T.sort_values(by=['Purchase Count'], ascending=False)

format_dict = {'Purchase Count':'{0:,.0f}',
               'Average Item Price':'${0:,.2f}',
               'Total Purchase Value':'${0:,.2f}'}

df.head(5).style.format(format_dict)

## Most Profitable Items
* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [207]:
df_most_profitable = df.sort_values('Total Purchase Value', ascending=False)

format_dict = {'Purchase Count':'{0:,.0f}',
               'Average Item Price':'${0:,.2f}',
               'Total Purchase Value':'${0:,.2f}'}

df_most_profitable.head(5).style.format(format_dict)